.form-login__left {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 362px;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
}

.form-login .title-margin {
    margin-bottom: 42px;
}

.form-login {
    justify-content: space-between;
}

    .form-login .title-welcome {
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        /* identical to box height */


        color: #FFFFFF;
    }

    .form-login .title-name {
        font-weight: 700;
        font-size: 66px;
        line-height: 90px;
        /* identical to box height */


        color: #FFFFFF;
    }

    .form-login .title-infor {
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;
        color: #FFFFFF;
        max-width: 512px;
    }

    .form-login .title-language {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;
        gap: 8px;
        width: 120px;
        height: 32px;
        background: #FFFFFF;
        border-radius: 16px;
        /* identical to box height */


        color: #2B76B7;
    }

        .form-login .title-language img {
            margin-left: 4px;
            width: 12px;
        }

    .form-login .title-intro {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .form-login .form-login__right {
        min-width: 374px;
        background: #FFFFFF;
        border-radius: 16px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 312px;
        padding: 36px 24px;
        color: #2B76B7;
    }

        .form-login .form-login__right .item:not(:last-child) {
            margin-bottom: 20px;
        }

    .form-login .form-login__logo {
        height: 48px;
        display: flex;
        justify-content: center;
    }

    .form-login .form-login__header {
        display: flex;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        text-transform: uppercase;
    }

    .form-login .lable, .input-container ::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */


        color: #2B76B7;
    }

    .form-login .input-container {
        align-items: center;
        padding: 4px 16px;
        width: 326px;
        height: 42px;
        border: 1px solid #335C7F;
        border-radius: 12px;
        display: flex;
        align-items: center;
    }

    .form-login .form-login__input {
        border: none;
        width: 100%;
        outline: none;
    }

    .form-login .accurate {
        padding: 4px 16px;
        gap: 10px;
        width: 326px;
        height: 42px;
        background: #335C7F;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
    }

    .form-login .accurate__left {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        /* identical to box height */

        letter-spacing: 20px;
        color: #FFFFFF;
    }

    .form-login .accurate__right {
        display: flex;
        align-items: center;
    }

    .form-login .remember {
        height: 27px;
        align-items: center;
        padding: 4px 0px;
        display: flex;
        align-items: center;
    }

        .form-login .remember > input {
            margin-right: 10px;
        }

    .form-login .btn-login {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 16px;
        gap: 10px;
        width: 326px;
        height: 42px;
        background: #FF8843;
        mix-blend-mode: normal;
        border-radius: 12px;
        cursor: pointer;
    }

        .form-login .btn-login > span {
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            /* identical to box height */


            color: #FFFFFF;
        }

    .form-login .help {
        display: flex;
        justify-content: space-between;
    }

    .form-login .help__left {
    }

    .form-login .help__right {
    }

@media screen and (max-width: 1000px) {
    .form.form-login{
        flex-direction:column;
    }
    .form-login .form-login__left {
    }
    .form-login .form-login__right {
        margin-right: auto;
        margin-left: auto;
    }
    .form-login .form-login__left {
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }
    .form-login .title-margin {
        margin-bottom: 0;
        margin-right: 0;
    }
    .form-login .title-infor.title-margin {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }
    .form-login .title-name.title-margin {
        font-size: 40px;
        line-height: 54px;
    }
}