
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="form form-login form-comfrim">
    <div class="form-login__left">
        <div class="title-welcome">
            Chào mừng tới
        </div>
        <div class="title-name title-margin">
            FPT.eExam
        </div>
        <div class="title-infor title-margin">
            Hệ thống thi sát hạch trực tuyến của FPT
        </div>
        <div class="title-language title-margin">
            Tiếng Việt
            <img src="~/Assests/img/login/login_arr_down.png" />
        </div>
        <div class="title-intro">
            Phần mềm hoạt động hiệu quả nhất trên trình duyệt <b> Chrome, FireFox</b>
        </div>
    </div>
    <div class="form-login__right">
        <div class="item form-login__logo">
            <img src="~/Assests/img/Logo.svg" />
        </div>
        <div class="item d-flex flex-column ">
            <div class="avatar margin-auto">
                <img src="~/Assests/img/login/avatar.svg" />
            </div>
            <span class="margin-auto style-title-1">ThangNQ12@fpt.com.vn</span>
        </div>
        <div class="item lable">Mật khẩu</div>
        <div class="item input-container">
            <input class="form-login__input" type="password" placeholder="Nhập email của bạn ..." />
        </div>
        <div class="item accurate">
            <div class="accurate__left">
                1+8=?
            </div>
            <div class="accurate__right">
                <img src="~/Assests/img/login/Refresh.png" />
            </div>
        </div>
        <div class="item remember">
            <input type="radio" />
            <span class="lable">Ghi nhớ mật khẩu</span>
        </div>
        <div class="item btn-login">
            <span>Đăng nhập</span>
        </div>
        <a class="item lable">
            Đăng nhập tài khoản khác
        </a>
        <div class="item help">
            <a class="lable">
                Đăng ký tài khoản
            </a>
            <a class="lable">
                Quên mật khẩu?
            </a>
        </div>
    </div>
</div>

