.icon-CanHoanThanh {
    background: url(../../Assests/img/canhoanthanh.svg) no-repeat center / cover;
    width: 58px;
    height: 58px;
}

.icon-DaHoanThanh {
    background: url(../../Assests/img/dahoanthanh.svg) no-repeat center / cover;
    width: 30px;
    height: 58px;
}

.status-list {
}

.status__btn {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.status__title::after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #FA7232;
    width: 100%;
    bottom: -8px;
    left: 0;
}

.status__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #3B3663;
    position: relative;
    margin-top: 9px;
}

.icon {
    margin: 0 auto;
}

.content-box {
}

    .content-box .row {
        padding-bottom: 48px;
    }

    .content-box .col {
        margin-right: 36px;
    }

        .content-box .col:last-child {
            margin-right: 0;
        }
.course_box {
    padding: 32px;
    background: #FFFFFF;
    border: 1px solid #D6DDE2;
    box-shadow: 10px 10px 40px rgba(169, 184, 195, 0.75);
    border-radius: 16px;
}
.course_box .row{
    padding-bottom: 16px;
}
.course__timeline {
    color: #FB7D41;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.course__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    text-transform: uppercase;
    color: #3B3663;
}
.course__content span {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    color: #6F7294;
}
.course__btn {
    width: 360px;
    height: 36px;
    background: #2983CD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.course__btn span {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-align:center;
    transform: translateY(50%);
}