
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="w-100 h-100 form1">
    <div class="container no-padding content-box">
        @*trạng thái lọc của bài thi*@
        <div class="row status-list">
            <div class="col d-flex justify-content-center">
                <div class="status__btn no-a cursor-pointer">
                    <div class="icon-CanHoanThanh icon"></div>
                    <div class="status__title starus-selected">cần hoàn thành</div>

                </div>
                <a href="https://localhost:44384/Home/IndexDone" class="status__btn no-a cursor-pointer">
                    <div class="icon-No_DaHoanThanh icon"></div>
                    <div class="status__title">Đã hoàn thành</div>

                </a>
            </div>
        </div>
        @*Danh sách các bài thi thỏa mãn điều kiện lọc*@
        <div class="row no-padding">
            <div class="container list_course">
                <div class="row">
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span><a href="https://localhost:44384/Home/IndexDetailCourse" class="w-100 h-100 d-block no-a cl-black-opacity">Đăng ký</a></span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn course__btn--active">
                            <span>Thi tiếp</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                    <div class="col-lg course_box container">
                        <div class="row course__timeline">
                            08:00, 10/09/2022 - 08:00, 20/09/2022
                        </div>
                        <div class="row course__title">
                            Cuộc thi tìm hiểu văn hóa làm việc của công ty năm 2022
                        </div>
                        <div class="row course__content d-flex">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/cauhoi.svg" />
                                <span>32 câu hỏi</span>
                            </div>
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/soluotthi.svg" />
                                <span>Số lượt thi : 2/4</span>
                            </div>

                        </div>
                        <div class="row course__content">
                            <div class="w-50 no-padding">
                                <img src="~/Assests/img/diemdat.svg" />
                                <span>Điểm đạt : 70%</span>
                            </div>
                        </div>
                        <div class="row course__btn">
                            <span>Đăng ký</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div> 