
@{
    ViewBag.Title = "IndexInforCourse";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="form3 h-100">
    <div class="container no-padding no-margin">
        <div class="form3__header">
            @*TITLE LINKS*@
            <div class="row  title-links">
                <div class="title-link">
                    Danh mục bài thi
                </div>
                <div class="title-link">
                    Tân binh
                </div>
                <div class="title-link title-link--curent">
                    Sử dụng KPI nâng cao năng suất và quản trị hiệu suất trong công
                </div>
            </div>
            @*NAME OF COURSE*@
            <div class="row form3__header--title">
                Khóa đào tạo checklist kiểm tra hạ tầng trước khi triển khai
            </div>
            @*TIMELINE*@
            <ul class="row form3__header--timeline">
                <li>
                    <div class="icon-lich"></div>

                </li>
                <li>
                    <span>01/07/2020</span>

                </li>
                <li>
                    <div class="icon-licharrow"></div>

                </li>
                <li>
                    <span>02/08/2021</span>

                </li>
            </ul>
            @*TARGET OF COURSE*@
            <div class=" row form3__selection justify-content-between">
                <div class="form3__seletion--left d-flex w-auto">
                    <div class="item">

                        <img src="~/Assests/img/form3_select_1.svg" />
                    </div>
                    <div class="item">
                        <img src="~/Assests/img/form3_select_2.svg" />

                    </div>
                    <div class="item">
                        <img src="~/Assests/img/form3_select_3.svg" />

                    </div>
                    <div class="item">
                        <img src="~/Assests/img/form3_select_4.svg" />

                    </div>
                    <div class="item">
                        <img src="~/Assests/img/form3_select_5.svg" />
                    </div>
                </div>
                <div class="form3__seletion--right w-auto">
                    <div class="item">
                        <img src="~/Assests/img/form3-select_6.svg" />
                    </div>
                </div>

            </div>
        </div>

        <div class="form3__content">
            <div class="title">
                <div class="title-left">
                    Giới thiệu
                </div>
                <div class="title-right">
                    <div class="sperate-bottom"></div>
                    <div class="sperate-bottom sperate-space"></div>
                </div>
            </div>
            <div class="title-sub">
                <div class="title">
                    Bạn sẽ học gì?
                </div>
                <ul class="title-sub--list">
                    <li>Hiểu toàn bộ quy trình cài đặt Magento có và không có dữ liệu mẫu.</li>
                    <li>Phân loại và tạo các loại sản phẩm để sắp xếp hàng tồn kho của cửa hàng.</li>
                    <li>Nâng cao các trang sản phẩm của bạn bằng mô tả, hình ảnh và thông tin về kho.</li>
                    <li>Sử dụng các quy tắc về thuế và giao hàng cùng với tích hợp cổng thanh toán để tạo doanh thu và hiểu quy trình đặt hàng để quản lý và giao hàng của bạn.</li>
                    <li>Thiết lập cửa hàng của bạn với sự hiểu biết sâu sắc về các tùy chọn có sẵn và bố cục menu.</li>
                </ul>
                <div class="title">
                    Miêu tả khóa học
                </div>
                <div class="title-sub--text">
                    Magento 2 không chỉ là phiên bản tiếp theo của Magento 1, nó là một khung hoàn toàn mới. 
                    Nó giới thiệu một loạt các thư viện và phương pháp tiếp cận mới, với nhiều cơ hội hơn để triển khai chức năng  
                    tốt hơn. Để cải thiện tính mô-đun, tính linh hoạt và khả năng mở rộng, Magento 2 phải trở nên phức tạp hơn một chút so với 
                    Magento 1. Đó là lý do tại sao, thật không may, một số cách tiếp cận mới trong Magento 2 không đủ rõ ràng. Khóa học này giải
                    thích cách triển khai các phần quan trọng nhất của khuôn khổ, cách chúng hoạt động và cách chúng có thể được sử dụng. Nó khám phá việc 
                    triển khai mô-đun và tùy chỉnh chức năng cốt lõi, thể hiện các cách tiếp cận và mô hình phát triển Magento 2. Cuối cùng, khóa học không 
                    chỉ về triển khai chức năng mà còn chia sẻ các phương pháp hay nhất để quản lý toàn bộ các ứng dụng Magento 2.<br />
                    Nó có cấu trúc và nhịp độ dành cho người mới bắt đầu và bao gồm các yếu tố cần thiết mà họ cần để bắt đầu. Bắt đầu với những điều cơ bản 
                    về cài đặt, khóa học này bao gồm mọi thứ cần thiết để thiết lập một cửa hàng cơ bản, với chức năng linh hoạt.
                </div>
            </div>

        </div>
        
    </div>
</div>


