.form-PasswordRecovery{

}
    .form-PasswordRecovery .form-login__right .item:not(:last-child) {
        margin-bottom: 16px;
    }
    .form-PasswordRecovery .avatar > img {
        height: 100px;
    }
.form-PasswordRecovery .content{
    max-width: 836px;
}
.form-PasswordRecovery .form-login__right {
    padding: 36px 32px;
}