@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<form id="myform" action="PasswordChange" method="post">
    <div class="form form-login form-PasswordRecovery">
        <div class="form-login__right margin-auto">
            <div class="item form-login__logo ">
                <img src="~/Assests/img/Logo.svg" />
            </div>
            <div class="item d-flex flex-column margin-auto">
                <div class="avatar margin-auto">
                    <img src="~/Assests/img/login/icon-changepassword.svg" />
                </div>
            </div>
            <div class="item style-title-2 title-margin text-center">Đổi mật khẩu</div>
            <div class="item lable text-center content ">
                Chính sách mật khẩu <br />
                <b>01.</b> Không chứa tên tài khoản của người dùng, hoặc 1 phần tên đầy đủ (họ, tên đệm hoặc tên) có độ dài hơn 2 ký tự.<br />
                <b>02</b> Chứa ít nhất 9 ký tự, bao gồm các ký tự đặc biệt ( ! ,&commat; ,# ,$ ,% , ^ )
            </div>
            <div class="item input-container margin-auto">
                <input class="form-login__input lable" type="password" name="Pass" placeholder="Mật khẩu mới" />
            </div>
            <div class="item input-container margin-auto">
                <input class="form-login__input lable" type="password" name="PassComfirm" placeholder="Nhập lại mật khẩu mới" />
            </div>
            <a href="#" onclick="document.getElementById('myform').submit()" class="item style-title-2 title-margin text-center">Đổi mật khẩu</a>
        </div>
    </div>


</form>
