@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="form form-login form-PasswordRecovery">
    <div class="form-login__right margin-auto">
        <div class="item form-login__logo ">
            <img src="~/Assests/img/Logo.svg" />
        </div>
        <div class="item d-flex flex-column margin-auto">
            <div class="avatar margin-auto">
                <img src="~/Assests/img/login/icon_recovery.svg" />
            </div>
        </div>
        <div class="item style-title-2 title-margin text-center">Khôi phục mật khẩu</div>
        <div class="item input-container margin-auto">
            <input class="form-login__input lable" type="text" placeholder="Nhập email xác nhận" />
        </div>
        <div class="item lable text-center content ">
            Vui lòng nhập email của bạn và chúng tôi sẽ gửi liên kết đặt lại mật khẩu đến email của bạn. Nếu bạn không thể nhớ tên người
            dùng của mình , vui lòng liên hệ với quản trị viên của bạn. Nếu bạn chưa đăng ký địa chỉ email với chúng tôi, bạn sẽ cần
            liên hệ với quản trị viên của mình để đặt lại mật khẩu.
        </div>
        <a class="item style-title-2 title-margin text-center">Tiếp tục</a>
        <div class="item lable text-center">
            Hoặc quay lại để <a class="d-inline-block"><b>Đăng nhập</b></a> 
        </div>
        
    </div>
</div>

