@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<form action="Register" method="post">
    <div class="form form-login form-Register">
        <div class="form-login__right margin-auto">
            <div class="item form-login__logo ">
                <img src="~/Assests/img/Logo.svg" />
            </div>
            <div class="item d-flex flex-column margin-auto">
                <div class="avatar margin-auto">
                    <img src="~/Assests/img/register/icon-register.svg" />
                </div>
            </div>
            <div class="item style-title-2 title-margin text-center">Đăng ký tài khoản</div>
            <div class="item d-flex form-Register__form justify-content-center ">
                <div class="item form-left">
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/tentk.svg" />
                        <input class="form-login__input lable" name="AccountName" type="text" placeholder="Tên tài khoản" />
                    </div>
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/email.svg" />
                        <input class="form-login__input lable" name="Email" type="text" placeholder="Email" />
                    </div>
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/matkhau.svg" />
                        <input class="form-login__input lable" name="AccountPassword" type="password" placeholder="Mật khẩu" />
                    </div>
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/matkhau.svg" />
                        <input class="form-login__input lable" name="AccountPasswordComfirm" type="password" placeholder="Nhập lại mật khẩu" />
                    </div>

                </div>
                <div class="sperate-col"></div>
                <div class="item form-right">
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/thongtin.svg" />

                        <input class="form-login__input lable" name="UserLastName" type="text" placeholder="Họ và tên đệm" />
                    </div>
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/thongtin.svg" />

                        <input class="form-login__input lable" name="UserFirstName" type="text" placeholder="Tên" />
                    </div>

                    <div class="item position-relative">
                        <div onclick="showModalSex()" class="btn input-container margin-auto d-flex justify-content-between position-relative">
                            <span>
                                <img src="~/Assests/img/register/gioitinh.svg" />
                                <input id="Gender" class="bg-white no-border top-0 lable h-100 position-absolute" value="Giới tính" name="GioiTinh" disabled />
                            </span>
                            <img src="~/Assests/img/login/arrowdown.svg" />
                        </div>
                        <div id="listGender" style="margin-top: 10px;" class="d-none no-padding input-container h-auto position-absolute flex-column bg-white">
                            <button onclick="setManGender()" type="button" class="btn text-lg-start margin-auto w-100">Nam</button>
                            <button onclick="setWomanGender()" type="button" class="btn text-lg-start margin-auto w-100">Nữ</button>
                        </div>
                    </div>
                    <div class="item input-container margin-auto">
                        <img src="~/Assests/img/register/diachi.svg" />
                        <input class="form-login__input lable" name="Address" type="password" placeholder="Địa chỉ" />
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                <button class="cl-white item no-border btn-login bg-blue">
                    <span class="cl-white">
                        @Html.ActionLink("TRỞ LẠI", "Index")
                    </span>
                </button>
                <button type="submit" class="cl-white item no-border btn-login bg-green">
                    <span class="cl-white">ĐĂNG KÝ</span>
                </button>
            </div>
            @{
                bool? kt = ViewBag.ComfirmPassword;
                if (ViewBag.Error != null)
                {
                    <br />
                    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                }
                else if (kt == false)
                {
                    <br />
                    <div class="alert alert-danger" role="alert">Mật khẩu không khớp</div>
                }
            }
        </div>
    </div>
</form>

