<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/MyStyle/base.css">
    <link rel="stylesheet" href="~/Content/MyStyle/main.css">
    <style type="text/css">

    </style>
</head>
<body class="vh-100 vh-100 d-flex flex-column">
    @*header*@
    <div class="header bg-white">
        <nav class="navbar navbar-light w-100">
            <div class="container-fluid">
                <div class="d-flex">
                    <img class="logo_fpt" src="~/Assests/img/Logo.svg" alt="FPT" />
                    <div class="header__title">
                        <div class="header__title--top">Hệ thống đào tạo trực tuyến</div>
                        <div class="header__title--bottom">ELEARNING</div>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="input-container d-flex position-relative">
                        <img class="input__icon--search position-absolute" src="~/Assests/img/Search.svg" />
                        <input class="form-control me-2 input__search" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    </div>
                    <img class="icon-setting" src="~/Assests/img/Vector.svg" />
                    <div class="notifi-container position-relative">
                        <img class="icon-notification" src="~/Assests/img/Vector 6.svg" />
                        <div class="notifi-number position-absolute">12</div>
                    </div>
                    <img class="icon-avatar" src="~/Assests/img/Avatar.svg" />


                </div>
            </div>
        </nav>
    </div>

    @*slider*@
    <div class="slider w-100">
        <div class="slider-img"></div>
    </div>

    @*form*@
    <div class="content-container">
        <div class="content position-relative">
            @RenderBody()
        </div>
    </div>

    @*footer*@
    <div class="footer d-flex bg-white">
        <div class="footer-content">COPYRIGHT  ©2022 FPT Information System</div>
    </div>

</body>
</html>
