#main>.footer{
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main>.footer p>a{
    padding: 0 1px;
    text-decoration: underline;
}

#main>.footer a:hover{
    opacity: 0.6;
}

#main>.footer i{
    font-size: 24px;
    opacity: 0.6;
}

#main>.footer p{
    display: block;
    margin: 15px 0;
}
