#main>.content-container.tour-date>.content>.header, 
#main>.content-container.tour-date .header-sub{
    color: white;
}
/* trạng thái, số lượng vé còn lại */
#main>.content-container.tour-date>.content>.ticket-status{
    background-color: white;
}

#main>.content-container.tour-date .ticket-status>.item{
    background-color: white;
    padding: 8px 16px;
    color: #757575;
    position: relative;
}

#main>.content-container.tour-date .ticket-status>.item .sold_out{
    margin-left: 16px;
    padding: 0 8px;
    background-color: red;
    color: white;
    display: inline-block;
    line-height: 1.5;
}

#main>.content-container.tour-date .ticket-status>.item:not(last-child){
    border-bottom: 1px solid #ccc;
}

#main>.content-container.tour-date .ticket-status>.item .sold_in{
    position: absolute;
    right: 0;
    background-color: black;
    color: white;
    padding: 0px 6.5px 0px 8px;
    margin: 0 16px 0 0;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
}

/* trưng bày vé  */
#main>.content-container.tour-date .ticket-show{
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    padding: 32px 6px;
}
#main>.content-container.tour-date .ticket-show>.item{
    background-color: black;
    margin: 0 8px;
}


#main>.content-container.tour-date .ticket-show>.item>img{
    width: 100%;
    display: block;
}
#main>.content-container.tour-date .ticket-show>.item>img:hover{
    opacity: 0.7;
}

#main>.content-container.tour-date .ticket-show>.item>.content{
    padding: 0.15px 16px;
    background-color: white;
    overflow: auto;
}
#main>.content-container.tour-date .ticket-show>.item>.content>.header{
    font-size: 15px;
    text-align: left;
    margin: 15px 0;
    letter-spacing: unset;
    font-weight: bolder;
}
#main>.content-container.tour-date .ticket-show>.item>.content>.sub{
    margin: 15px 0;
    opacity: 0.7;
}
#main>.content-container.tour-date .ticket-show>.item>.content>.text{
    line-height: 1.5;
    margin: 15px 0;
}
#main>.content-container.tour-date .ticket-show>.item>.content>.btn-buy_ticket:hover{
    background-color: #cccccc;
    color: black;
}